@model SaleViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<hr />
<div class="card">
    <div class="card-header">
        <h4>Create Sale</h4>
    </div>

    <form asp-action="Create" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="InvoiceNumber" class="control-label"></label>
                    <input asp-for="InvoiceNumber" class="form-control" />
                    <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerName" class="control-label"></label>
                    <input asp-for="CustomerName" class="form-control" />
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MobileNo" class="control-label"></label>
                    <input asp-for="MobileNo" class="form-control" />
                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>


            </div>
            <div class="col-6">
                <div class="col-md-12">
                    <table id="ExpTable" class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Product Code</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>

                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.SalesDetails.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <input asp-for="SalesDetails[i].ProductCode" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="SalesDetails[i].ProductName" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="SalesDetails[i].Price" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="SalesDetails[i].Quantity" class="form-control" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" onclick="DeleteItem(this)">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <button id="btnAddResult" type="button" class="btn btn-secondary">Add Product</button>


                </div>
                <input type="hidden" id="hdnLastIndex" value="0" />
            </div>
            <div class="col-6-group text-right p-2">
                <a asp-action="Index" class="btn btn-secondary">&nbsp;Back to List&nbsp;</a>
                <input id="submitForm" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<script src="~/jquery/jquery.min.js"></script>
<script>


    function DeleteItem(btn) {
        $(btn).closest('tr').remove();
        updateResultRowIndexes();
    }

    function updateResultRowIndexes() {
        $("#ExpTable tbody tr").each(function (index) {
            $(this).find("input").each(function () {
                var currentName = $(this).attr("name");
                var newName = currentName.replace(/SalesDetails\[\d+\]/g, `SalesDetails[${index}]`);
                $(this).attr("name", newName);
            });
        });
    }

    $("#btnAddResult").click(function () {
        var lastRowIndex = $("#ExpTable tbody tr").length;
        var newRowHtml = `<tr>
        <td>
            <input name="SalesDetails[${lastRowIndex}].ProductCode" class="form-control" />
        </td>
        <td>
            <input name="SalesDetails[${lastRowIndex}].ProductName" class="form-control" />
        </td>
        <td>
            <input name="SalesDetails[${lastRowIndex}].Price" class="form-control" />
        </td>
        <td>
            <input name="SalesDetails[${lastRowIndex}].Quantity" class="form-control" />
        </td>
        <td>
            <button type="button" class="btn btn-danger" onclick="DeleteItem(this)">Delete</button>
        </td>
    </tr>`;

        $("#ExpTable tbody").append(newRowHtml);
        updateResultRowIndexes();
    });

    $("#submitForm").click(function (event) {
        event.preventDefault();

        var formData = new FormData($('form')[0]);

        $.ajax({
            type: "post",
            url: "/Sale/Create",
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                alert("Created.Go Back To List!!!");
                $('form')[0].reset();

                $("#ExpTable tbody").empty();

                updateResultRowIndexes();
            },
            error: function (err) {
                alert("Error Occurred");
            }
        });
    });
</script>